
.language-switcher {
  display: flex;
  justify-content: right;
  margin-top: 3px;
}
.language-switcher button {
  margin: 0 5px;
  padding: 5px 10px;
  cursor: pointer;
  background-color: #85b5eb;
  border: none;
  border-radius: 4px;
}

.language-switcher button:hover {
  background-color: #678df4;
}



.add-button-container {
  display: flex; 
  justify-content: flex-end; 
  margin-bottom: 10px; 
}

.add-button {
  padding: 10px 10px; 
  font-size: 1rem; 
  color: #fff; 
  background-color: #007bff; 
  border: none; 
  border-radius: 8px; 
  cursor: pointer; 
  transition: background-color 0.3s ease; 
}

.add-button:hover {
  background-color: #0056b3; 
}

.add-button:active {
  background-color: #003f7f; 
}

.month-selector {
  display: flex; 
  align-items: center; 
  gap: 10px; 
  width: 100%; 
  max-width: 800px; 
  margin-bottom: 10px; 
}

label {
  flex: 1;
  font-size: 1rem; 
  font-weight: bold; 
  color: #004d40; 
}

select {
  flex: 3; 
  padding: 10px 15px; 
  font-size: 1rem; 
  color: #004d40; 
  background-color: rgba(255, 255, 255, 0.6); 
  border: 2px solid #007bff; 
  border-radius: 8px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  transition: all 0.3s ease; 
}


select:hover {
  background-color: rgba(255, 255, 255, 1);
  border-color: #0056b3;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

select:focus {
  outline: none;
  border-color: #003f7f;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
}

h2{
color:  #004d40;
}

.lang-info{
  display: flex;
  justify-content: right;
  gap: 10px;
  margin-top: 10px;
}