/* TableStyles.css */
.table-container {
    max-height: 400px;  /* Maksymalna wysokość kontenera tabeli */
    overflow-y: auto;   /* Przewijanie w pionie, gdy treść przekracza maksymalną wysokość */
    border: 1px solid #ddd; /* Opcjonalne, aby lepiej wyróżnić obszar */
    padding: 0;         /* Dodatkowy styl dla lepszego dopasowania */
  }
  
  .table-container table {
    width: 100%; /* Szerokość tabeli na pełną szerokość kontenera */
    border-collapse: collapse; /* Stylowanie, aby komórki nie miały podwójnych linii */
  }
  
  .table-container th, .table-container td {
    padding: 8px; 
    text-align: left; 
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    
  }
  .table-container tbody{
    background-color: white;
  }
  
  .table-container thead {
    position: sticky; /* Utrzymanie nagłówka na górze podczas przewijania */
    top: 0;
    background: #f1f1f1; /* Tło dla nagłówka */
    z-index: 1; /* Ustawienie z-index, aby nagłówek był nad resztą treści */
  }
  
 .days-table {
  margin-right: 100px;
 }
 
 .meal-cell {
  position: relative;
  padding-right: 30px; /* Przestrzeń dla przycisku po prawej stronie */
}

.meal-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  background-color: transparent;
  border: none;
  color: #d9534f; /* Czerwony kolor */
  padding: 5px;
  cursor: pointer;
  font-size: 16px;
}

.button:hover {
  color: #c9302c; /* Ciemniejszy czerwony przy najechaniu */
}

ion-icon {
  font-size: 24px; /* Rozmiar ikony */
  color: inherit; /* Dziedziczenie koloru z przycisku */
} 