nav {
    width: 100svw;
    height: 10svh;
    display: flex;
    justify-content: start;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: #6ed7fa;
    backdrop-filter: blur(10px);
    border-radius: 0 0 15px 15px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 10px;
    z-index: 10;
}

nav ion-icon {
    margin-left: 20px;
    width: 80px;
    height: 80%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    color: #004d40;
   
}

.controls-nav {
    width: 85%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.controls-nav p {
    margin-right: 30px;
    margin-bottom: 0;
    font-weight: 600;
    transition: color 0.3s ease-in-out, transform 0.2s ease;
    color: #004d40; 
    position: relative;
    padding: 5px 10px;
    border-radius: 5px;
}

.controls-nav p:hover {
    cursor: pointer;
    color: #00695c; 
    background-color: rgba(255, 255, 255, 0.4);
    transform: scale(1.05);
}

.icon-nav {
    margin-right: 5px;
    font-size: 20px;
    filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.3));
}
.link {
    text-decoration: none;
}
@media only screen and (max-width: 768px) {
    .controls-nav p {
        font-size: 12px;
        margin-right: 2px;
    }
    
  }